@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #283e46ae;
    width: 600px;
    padding: 10px;
    margin: auto;
}

body {
    background-image: linear-gradient(to right, #9FB5B1, #889AA7);
}

h1 {
    color: #D07B25;
    text-align: center;
    text-shadow: 1px 1px 2px #aa641d7a;
}

h2 { 
    color: #2F4852;
}
